<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<header>
    <div th:replace="fragments :: navigation"></div>
</header>
<body class="container">
    <h1>Create Event</h1>

    <form method="post" action="/events/create">
        <div class="form-group">
            <label>Name:
                <input type="text" th:field="${event.name}" class="form-control">
            </label>
            <p class="error" th:errors="${event.name}"></p>
        </div>
        <div class="form-group">
            <label>Description:
                <input type="text" th:field="${event.description}" class="form-control">
            </label>
            <p class="error" th:errors="${event.description}"></p>
        </div>
        <div class="form-group">
            <label>contactEmail:
                <input type="text" th:field="${event.contactEmail}" class="form-control">
            </label>
            <p class="error" th:errors="${event.contactEmail}"></p>
        </div>

        <div class="form-group">
            <input type="submit" value="Create Event" class="btn btn-success">
            <span><a th:href="@{/events}" class="btn btn-success">Cancel</a></span>
        </div>
    </form>
</body>
</html>
